@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

:root{
    --snd-bg-colors: #093bf197;
    --text-color: #2496e3f3;
    --bg-color: #461ef5dc;
    --main-color: #00A8CC;
}
body{
    background-color: var(--main-color);
    color: var(--text-color);
}
.container{
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}


main{
    height: auto;
    width: 60vw;
    margin: 1rem;
    padding: 1rem;
}
main .signin-container h1{
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 2px 1px var(--bg-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.signin-container{
    height: 10rem;
    padding: 4rem;    
    margin-top: 4rem;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 2px 2px var(--snd-bg-colors);
}

.signin-container .sign-up-content{
    height: 5rem;
    width: 21rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signin-container #sign-in{
    height: 3rem;
    width: 6rem;
    border-radius: 30px;
    background-color: var(--snd-bg-colors);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 800;
}

.signin-container .sign-up-content input{
    height: 2rem;
    width: 10rem;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.sign-up-content input:hover{
    box-shadow: 1px 4px 2px var(--bg-color);
    background-color: var(--text-color);
    transition: all .5s ease-in-out;
    color: var(--snd-bg-colors);
    content: "";
    transform: translate(2px);
}

#sign-in:hover{
    background-color: var(--text-color);
    color: var(--snd-bg-colors);
    content: icon;
    transition: all 1s ease-in;
    transform: translateY(-1px);
}

.signin-complete{
    height: 9rem;
    /* width: 90px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 10rem;
    position: absolute;
    background-color: var(--snd-bg-colors);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
/* 
.hide{
    display: none;
    
} */

.back-btn{
    height: 6rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.back-btn:hover{
    content: "";
    transition: all 1s ease;
    transform: translate(1px);
    background-color: var(--text-color);
    color: var(--bg-color);
}