@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
}

:root{
    --main-color--: #FC4100;
    --snd-colors--: #2C4E80;
    --bg--color : #FFC55A;
    --text--color: #00215E;
}