@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans Mono", monospace;
    text-decoration: none;
    color: var(--text-colors);
}

:root{
    --main-color: #341f47;
    --bg-colors: #efabff;
    --text-colors: #eda2f2;
    --snd-color: #54f2f2;
    --tertiary-color: #0e6ba8;
}

header{
    background-color: var(--snd-color);
    color: var(--text-colors);
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    gap: 10rem;
    height: 4rem;
    align-items: center;
    text-align: center;
}

.navbar{
    padding: 0.6rem;
    margin-bottom: 0.8rem;
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 19px;
}
.button{
    font-size: 19px;
    font-weight: 700;
    color: blue;
}

.button:hover{
    color: var(--text-colors);
    content: "";
    transition: .1s ease-in-out;
    transform: matrix(15px) 1s;
    text-decoration: dashed;
}

.container{
    margin-top: 6rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 13px;
    font-weight: 900;
}